<p>
  <%= link_to category.title, admin_legal_library_category_path(category) %>
  <%= link_to admin_legal_library_category_path(category), method: :delete, class: 'delete-nested' do %>
    <span class="glyphicon glyphicon-remove">
  <% end %>
  <%= link_to edit_admin_legal_library_category_path(category), class: 'edit-nested' do %>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  <% end %>
</p>
