@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "bootstrap/popovers";
@import "bootstrap/tooltip";
@import "bootstrap/buttons";
@import "bootstrap/button-groups";
@import "bootstrap/dropdowns";

#legal_library_document_body_input {
  @import "bootstrap";
}
@import "summernote";
@import "active_material";

.note-toolbar.panel-heading {
  padding: 0 0 5px 5px !important;
}

#document_body {
  max-width: 80%;
  box-shadow: 0 0 10px;
  border-radius: 4px;
  padding: 10px 20px;
  background: #fff;

  &:hover {
    background: #fff;
  }
}
