// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!

@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: #8C96A3;
$skinHeaderBck: #2A2F35;
$panelHeaderBck: #2A2F35;

@import "active_skin";

#wrapper > .footer {
  z-index: 1000;
}

.index_as_table {
  font-size: 14px !important;
}

#main_content {
  #document_body {
    box-shadow: 0 0 10px;
    color: #4f4f4f;
    margin: 0 auto;
    padding: 40px 20px;
    width: 840px;
  }

  .index_content {
    .index_as_table {
      a {
        &.create-new-nested {
          float: right;
          text-align: right;
        }

        &.edit-nested,
        &.delete-nested {
          float: right;
        }
      }
    }
  }

  .fa {
    color: inherit;
    margin: 0 2px;
  }

  .panel_contents {
    font-size: 14px;

    p {
      margin-bottom: 4px;
    }

    a {
      color: #7f8c8d;
      padding: 2px 3px;

      &:hover {
        color: #fff;
        background: #8C96A3;
      }
    }
  }

  .inputs {
    padding: 20px 30px;

    select {
      -webkit-appearance: none;
      border-radius: 0;
      outline: none;
      padding: 4px 10px;
    }
  }
}
