// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinActiveColor: #8C96A3;
$skinHeaderBck: #2A2F35;
$panelHeaderBck: #2A2F35;

@import "active_skin";

#new_legal_library_category > fieldset.inputs,
#edit_legal_library_category > fieldset.inputs {
  padding-top: 10px;
}

.index_content {
  .index_as_table {
    a {
      &.create-new-nested {
        float: right;
        text-align: right;
      }

      &.edit-nested,
      &.delete-nested {
        float: right;
      }
    }
  }

}
